{% extends '_layouts/detail.njk' %}

{% block page_title %}Fear the Kraken{% endblock %}

{% block story %}
  <img class="img-fluid"  src="img/kraken02.jpg">
  <h2>Fear the Kraken</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Careen overhaul pirate belaying pin pillage schooner wherry weigh anchor gabion black spot. Brigantine piracy ho dance the hempen jig lateen sail tack yawl belaying pin marooned driver. Tack hogshead run a shot across the bow mutiny brig poop deck cutlass Jack Tar capstan rope's end.</p>
{% endblock %}

