{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 offset-sm offset-md offset-lg">
    <h1>Welcome to the Log!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-sm offset-md offset-lg">
      <p>
        This blog will detail the many adventures of Crit McGillicuty. Join my travels by staying up to date on my daily travels. Make sure to share with others, as I'm sure my stories will be of great fodder for those who enjoy life on the sea! Ahoy matey! 
      </p>
      <ul> 
        {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
        {% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
